@model EmployeeManagementSystem.Models.Employee

<div>
    @Html.LabelFor(model => model.FirstName)
    @Html.DisplayFor(model => model.FirstName)
</div>
<div>
    @Html.LabelFor(model => model.LastName)
    @Html.DisplayFor(model => model.LastName)
</div>
<div>
    @Html.LabelFor(model => model.Email)
    @Html.DisplayFor(model => model.Email)
</div>
<div>
    @Html.LabelFor(model => model.Phone)
    @Html.DisplayFor(model => model.Phone)
</div>
<div>
    @Html.LabelFor(model => model.Position)
    @Html.DisplayFor(model => model.Position)
</div>
